(
    ports: [
        "midicc.value",
    ],
    ticks: [
        (0, [
            Continuous(0.7559055),
        ]),
        (1, [
            Continuous(0.7559055),
        ]),
        (2, [
            Continuous(0.7559055),
        ]),
        (3, [
            Continuous(0.7559055),
        ]),
        (4, [
            Continuous(0.7559055),
        ]),
        (5, [
            Continuous(0.7559055),
        ]),
        (6, [
            Continuous(0.7559055),
        ]),
        (7, [
            Continuous(0.7559055),
        ]),
    ],
)
