(
    ports: [
        "lfo.value",
        "math.value",
        "remap.value",
    ],
    ticks: [
        (0, [
            Continuous(0.0000000010264968),
            Continuous(1.0),
            Continuous(0.0),
        ]),
        (1, [
            Continuous(0.052335955),
            Continuous(1.052336),
            Continuous(0.052335978),
        ]),
        (2, [
            Continuous(0.10452846),
            Continuous(1.1045284),
            Continuous(0.10452843),
        ]),
        (3, [
            Continuous(0.15643446),
            Continuous(1.1564344),
            Continuous(0.15643442),
        ]),
        (4, [
            Continuous(0.20791169),
            Continuous(1.2079117),
            Continuous(0.20791173),
        ]),
        (5, [
            Continuous(0.258819),
            Continuous(1.258819),
            Continuous(0.25881898),
        ]),
        (6, [
            Continuous(0.30901697),
            Continuous(1.309017),
            Continuous(0.30901694),
        ]),
        (7, [
            Continuous(0.35836792),
            Continuous(1.3583679),
            Continuous(0.35836792),
        ]),
        (8, [
            Continuous(0.4067366),
            Continuous(1.4067366),
            Continuous(0.4067366),
        ]),
        (9, [
            Continuous(0.4539905),
            Continuous(1.4539905),
            Continuous(0.45399046),
        ]),
        (10, [
            Continuous(0.49999997),
            Continuous(1.5),
            Continuous(0.5),
        ]),
        (11, [
            Continuous(0.544639),
            Continuous(1.544639),
            Continuous(0.544639),
        ]),
        (12, [
            Continuous(0.58778524),
            Continuous(1.5877852),
            Continuous(0.58778524),
        ]),
        (13, [
            Continuous(0.6293204),
            Continuous(1.6293204),
            Continuous(0.6293204),
        ]),
        (14, [
            Continuous(0.66913056),
            Continuous(1.6691306),
            Continuous(0.66913056),
        ]),
        (15, [
            Continuous(0.70710677),
            Continuous(1.7071068),
            Continuous(0.7071068),
        ]),
        (16, [
            Continuous(0.7431448),
            Continuous(1.7431448),
            Continuous(0.74314475),
        ]),
        (17, [
            Continuous(0.777146),
            Continuous(1.777146),
            Continuous(0.777146),
        ]),
        (18, [
            Continuous(0.809017),
            Continuous(1.809017),
            Continuous(0.80901694),
        ]),
        (19, [
            Continuous(0.8386706),
            Continuous(1.8386706),
            Continuous(0.8386706),
        ]),
        (20, [
            Continuous(0.8660254),
            Continuous(1.8660254),
            Continuous(0.86602545),
        ]),
        (21, [
            Continuous(0.8910065),
            Continuous(1.8910065),
            Continuous(0.89100647),
        ]),
        (22, [
            Continuous(0.9135454),
            Continuous(1.9135454),
            Continuous(0.91354537),
        ]),
        (23, [
            Continuous(0.9335804),
            Continuous(1.9335804),
            Continuous(0.9335804),
        ]),
        (24, [
            Continuous(0.9510565),
            Continuous(1.9510565),
            Continuous(0.9510565),
        ]),
        (25, [
            Continuous(0.9659258),
            Continuous(1.9659258),
            Continuous(0.9659258),
        ]),
        (26, [
            Continuous(0.97814757),
            Continuous(1.9781475),
            Continuous(0.9781475),
        ]),
        (27, [
            Continuous(0.98768836),
            Continuous(1.9876883),
            Continuous(0.9876883),
        ]),
        (28, [
            Continuous(0.9945219),
            Continuous(1.9945219),
            Continuous(0.99452186),
        ]),
        (29, [
            Continuous(0.9986295),
            Continuous(1.9986296),
            Continuous(0.99862957),
        ]),
        (30, [
            Continuous(1.0),
            Continuous(2.0),
            Continuous(1.0),
        ]),
    ],
)
