(
    ports: [
        "envelope.value",
        "envelope.trigger",
    ],
    ticks: [
        (0, [
            Continuous(0.029396318),
            Events([
                (0.0009999998, "note_on(60,100)"),
                (0.006, "note_on(67,80)"),
            ]),
        ]),
        (1, [
            Continuous(0.13438319),
            Events([]),
        ]),
        (2, [
            Continuous(0.23937008),
            Events([]),
        ]),
        (3, [
            Continuous(0.34435692),
            Events([]),
        ]),
        (4, [
            Continuous(0.44934377),
            Events([]),
        ]),
        (5, [
            Continuous(0.55433065),
            Events([]),
        ]),
        (6, [
            Continuous(0.6188976),
            Events([]),
        ]),
        (7, [
            Continuous(0.57952756),
            Events([]),
        ]),
        (8, [
            Continuous(0.5401575),
            Events([]),
        ]),
        (9, [
            Continuous(0.50078744),
            Events([]),
        ]),
        (10, [
            Continuous(0.46141732),
            Events([]),
        ]),
        (11, [
            Continuous(0.42204726),
            Events([]),
        ]),
    ],
)
