(
    ports: [
        "lfo.value",
    ],
    ticks: [
        (0, [
            Continuous(0.0000000020529936),
        ]),
        (1, [
            Continuous(0.10452846),
        ]),
        (2, [
            Continuous(0.20791169),
        ]),
        (3, [
            Continuous(0.30901697),
        ]),
        (4, [
            Continuous(0.4067366),
        ]),
        (5, [
            Continuous(0.49999997),
        ]),
        (6, [
            Continuous(0.58778524),
        ]),
        (7, [
            Continuous(0.66913056),
        ]),
        (8, [
            Continuous(0.7431448),
        ]),
        (9, [
            Continuous(0.809017),
        ]),
        (10, [
            Continuous(0.8660254),
        ]),
        (11, [
            Continuous(0.9135454),
        ]),
        (12, [
            Continuous(0.9510565),
        ]),
        (13, [
            Continuous(0.97814757),
        ]),
        (14, [
            Continuous(0.9945219),
        ]),
        (15, [
            Continuous(1.0),
        ]),
        (16, [
            Continuous(0.9945219),
        ]),
        (17, [
            Continuous(0.97814757),
        ]),
        (18, [
            Continuous(0.95105654),
        ]),
        (19, [
            Continuous(0.9135454),
        ]),
        (20, [
            Continuous(0.8660255),
        ]),
        (21, [
            Continuous(0.809017),
        ]),
        (22, [
            Continuous(0.7431449),
        ]),
        (23, [
            Continuous(0.6691306),
        ]),
        (24, [
            Continuous(0.58778536),
        ]),
        (25, [
            Continuous(0.50000006),
        ]),
        (26, [
            Continuous(0.4067368),
        ]),
        (27, [
            Continuous(0.30901703),
        ]),
        (28, [
            Continuous(0.20791185),
        ]),
        (29, [
            Continuous(0.104528494),
        ]),
        (30, [
            Continuous(0.0000001509958),
        ]),
        (31, [
            Continuous(-0.104528435),
        ]),
        (32, [
            Continuous(-0.20791155),
        ]),
        (33, [
            Continuous(-0.30901673),
        ]),
        (34, [
            Continuous(-0.40673673),
        ]),
        (35, [
            Continuous(-0.49999997),
        ]),
        (36, [
            Continuous(-0.5877851),
        ]),
        (37, [
            Continuous(-0.66913044),
        ]),
        (38, [
            Continuous(-0.74314487),
        ]),
        (39, [
            Continuous(-0.8090168),
        ]),
        (40, [
            Continuous(-0.8660252),
        ]),
        (41, [
            Continuous(-0.9135454),
        ]),
        (42, [
            Continuous(-0.9510565),
        ]),
        (43, [
            Continuous(-0.97814757),
        ]),
        (44, [
            Continuous(-0.99452186),
        ]),
        (45, [
            Continuous(-1.0),
        ]),
        (46, [
            Continuous(-0.9945219),
        ]),
        (47, [
            Continuous(-0.9781476),
        ]),
        (48, [
            Continuous(-0.9510566),
        ]),
        (49, [
            Continuous(-0.9135454),
        ]),
        (50, [
            Continuous(-0.86602545),
        ]),
        (51, [
            Continuous(-0.8090171),
        ]),
        (52, [
            Continuous(-0.74314505),
        ]),
        (53, [
            Continuous(-0.66913056),
        ]),
        (54, [
            Continuous(-0.5877853),
        ]),
        (55, [
            Continuous(-0.5000002),
        ]),
        (56, [
            Continuous(-0.40673694),
        ]),
        (57, [
            Continuous(-0.30901694),
        ]),
        (58, [
            Continuous(-0.20791176),
        ]),
        (59, [
            Continuous(-0.10452865),
        ]),
        (60, [
            Continuous(-0.0000003019916),
        ]),
    ],
)
