(
    ports: [
        "envelope.value",
        "midinote.note_on",
    ],
    ticks: [
        (0, [
            Continuous(0.018477688),
            Events([
                (0.00079999986, "note_on(60,100)"),
                (0.0064999997, "note_on(67,64)"),
            ]),
        ]),
        (1, [
            Continuous(0.102467194),
            Events([]),
        ]),
        (2, [
            Continuous(0.18645668),
            Events([]),
        ]),
        (3, [
            Continuous(0.27044618),
            Events([]),
        ]),
        (4, [
            Continuous(0.35443568),
            Events([]),
        ]),
        (5, [
            Continuous(0.43842515),
            Events([]),
        ]),
        (6, [
            Continuous(0.4970079),
            Events([]),
        ]),
        (7, [
            Continuous(0.46551183),
            Events([]),
        ]),
        (8, [
            Continuous(0.43401578),
            Events([]),
        ]),
        (9, [
            Continuous(0.4025197),
            Events([]),
        ]),
        (10, [
            Continuous(0.37102365),
            Events([]),
        ]),
        (11, [
            Continuous(0.33952758),
            Events([]),
        ]),
    ],
)
